
.DS_Store

Reconocimiento de Patrones - rsotoc.pdf

Data sets/Stack Overflow Survey/survey_results_public_clean.json

my.pdf

Data sets/Stack Overflow Survey/survey_results_public.csv

my.xcf

Data sets/countries.xlsx
Data sets/Stack Overflow Survey/survey_results_public_transformed.json
Data sets/Stack Overflow Survey/survey_results_public_transformed.headers
Data sets/Stack Overflow Survey/survey_results_public_transformed.dicts
.ipynb_checkpoints/4.6. Clasificación VI-checkpoint.ipynb
.ipynb_checkpoints/Clasificación II-B-checkpoint.ipynb
.ipynb_checkpoints/Clasificación III-checkpoint.ipynb
.ipynb_checkpoints/Clasificación III-checkpoint.ipynb
.ipynb_checkpoints/Clasificación I-checkpoint.ipynb
.ipynb_checkpoints/3.7. Clustering VII-checkpoint.ipynb
.ipynb_checkpoints/4.1. Clasificación I-checkpoint.ipynb
.ipynb_checkpoints/4.3. Clasificación III-checkpoint.ipynb
.ipynb_checkpoints/4.5. Clasificación V-checkpoint.ipynb
.ipynb_checkpoints/Clasificación II-B-checkpoint.ipynb
.ipynb_checkpoints/3.9 Clustering IX-checkpoint.ipynb
.ipynb_checkpoints/Clasificación I-checkpoint.ipynb
.ipynb_checkpoints/4.4. Clasificación IV-checkpoint.ipynb
.ipynb_checkpoints/4.2.1. Clasificación II-B-checkpoint.ipynb
.ipynb_checkpoints/3.8. Clustering VIII-checkpoint.ipynb
.ipynb_checkpoints/4.2. Clasificación II-checkpoint.ipynb
.ipynb_checkpoints/Clustering VI-checkpoint.ipynb
.ipynb_checkpoints/Clasificación I-checkpoint.ipynb
.ipynb_checkpoints/Clasificación II-B-checkpoint.ipynb
.ipynb_checkpoints/4.3.1. Clasificación III-B-checkpoint.ipynb
.ipynb_checkpoints/4.7. Clasificación VII-checkpoint.ipynb
.ipynb_checkpoints/Clasificación I-checkpoint.ipynb
.ipynb_checkpoints/Clasificación II-B-checkpoint.ipynb
.ipynb_checkpoints/Clasificación II-checkpoint.ipynb
.ipynb_checkpoints/Clasificación III-checkpoint.ipynb
.ipynb_checkpoints/Clasificación IV-checkpoint.ipynb
.ipynb_checkpoints/Clasificación V-checkpoint.ipynb
.ipynb_checkpoints/Clasificación VI-checkpoint.ipynb
