
.DS_Store

Reconocimiento de Patrones - rsotoc.pdf

Data sets/Stack Overflow Survey/survey_results_public_clean.json

my.pdf

Data sets/Stack Overflow Survey/survey_results_public.csv

my.xcf

Data sets/countries.xlsx
